@media (max-width:480px){
    .section1{
        height: 240px;
        padding: 24px;
    }
    .section1_title{
        margin-bottom: 20px;
    }
    footer{
        padding: 32px 24px;
    }
    .logo2{
        text-align: center;
    }
}