@media (max-width: 744px){
    .nav_user{
        display: none;
    }
    .header_button{
        display: none;
    }
    .burger_icon{
        display: block;
    }
}
@media (max-width:550px){
    header{
        padding: 32px 24px;
    }
}
